
.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: auto; 
    padding: 20px; 
    margin: 0 auto;
    background-color: var(--color-background-secondary);
    max-width: 1300px;
    border-radius: 10px;
    margin-top: 5%;
}
.search-create-wrapper {
    display: flex;
    justify-content: space-between; /* Espaça os componentes de busca e criação */
    width: 100%; /* Ocupa toda a largura do container */
    max-width: 800px; /* Limita a largura máxima do wrapper */
    margin: 20px 0; /* Espaço entre o título e o wrapper */
}

.search {
    margin-right: auto; /* Alinha o botão de busca à esquerda */
}

.create {
    margin-left: auto; /* Alinha o botão de criar à direita */
}

.read {
    width: 100%; /* Ocupa toda a largura do container */
    max-width: 1200px; /* Limita a largura máxima da tabela */
    margin-top: 20px; /* Espaço acima da tabela */
}
